version: "3.8"
services:
  sonicbridge-client:
    build:
      context: ./client
      args:
        - VITE_WS_URL=ws://localhost:5001
    ports:
      - "80:80"
    depends_on:
      - sonicbridge-backend

  sonicbridge-backend:
    build: ./server
    ports:
      - "5001:5001"
    environment:
      - SARVAM_API_KEY=${SARVAM_API_KEY}
      - SPEECHBRAIN_URL=http://speechbrain-service:8000
    depends_on:
      - speechbrain-service
      - redis

  speechbrain-service:
    build: ./server/speechbrain_service
    ports:
      - "8000:8000"

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
