fastapi
uvicorn
numpy
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
speechbrain
python-multipart
hyperpyyaml
ruamel.yaml
requests
scipy
huggingface_hub==0.23.5
